/* universal tag  */
* {
    padding: 0px;
    margin: 0px;
}
/* font-famiy to body tags */
body {
    font-family: 'Jolly Lodger', sans-serif;
}
/* giving background img for the taken class */
.game-body {
    text-align: center;
    background: url("./background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* adding styles for the id  */
#instructions{
    border-radius: 10px;
    border: 2px solid whitesmoke;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
/* adding styles for the id tag  */
#background {
    width: 420px;
    height: 420px;
    background-image: url("./ground.webp");
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 20px;
}
/* using css animations and making font to bounce  */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
/* getting the animation for the wanted element */
#login-page p {
    font-size: 1.5rem;
    font-family:  'Jolly Lodger', cursive;
    animation: bounce 2s infinite;
    margin-left: 20px;
}
/* using css animations and making different font colors */
@keyframes colorChange {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; }
}
/* getting the animation for the wanted element */
#login {
    animation: colorChange 5s infinite;
    font-family:  'Jolly Lodger', cursive;
}
/* making a box for the loginpage id and adding styles */
#login-page{
    width: 500px;
    height: 400px;
    background-color: rgba(173, 161, 161, 0.438);
    margin: 0 auto;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 20px;
}
/* stying login btn */
#login{
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 180px;
    background-color: rgba(243, 243, 243, 0.479);
    color: black;
    cursor: pointer;
}
/* stying h1 tag */
h1{
    text-align: center;
}
/* stying inputs taken to write the details  */
.required{
    width: 450px;
    border: 2px solid black;
    height: 40px;
    margin-left: 20px;
    border-radius: 10px;
}
/* adding img for the divs created in js */
#background div {
    width: 95px;
    height: 100px;
    background-image: url("./pot.png");
    background-size: cover;
    padding: 18px;
    margin-left: 5px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
/* stying the img given above  */
#background div img{
    width: 100px;
    height: 100px;
}
/* giving postions and stying to the classes */
.main-background,
.end-background {
    position: absolute;
    z-index: -1;
    width: 100%;
}
/* stying play btn */
.playbutton {
    background-color: rgba(36, 33, 33, 0.534);
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
/* stying main logo  */
.logo-main {
    margin-left: 50%;
}
/* stying playagain btn  */
.playagain-button {
    margin-top: 15%;
    padding: 10px;
    margin-left: 35%;
    background-color: rgba(36, 33, 33, 0.534);
    border: 2px solid white;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
/* using css animations and giving firecracker for font  */
@keyframes firecracker {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    50% {
      transform: translateY(-200px) rotate(360deg);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0) rotate(720deg);
      opacity: 0;
    }
}
 /* getting the animation for this element */ 
#show-score {
    margin-left: 20%;
    font-size: 24px;
    margin-top: 10%;
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
    color: #fff;
    background-color: #333;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    animation: firecracker 2s ease-out;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
 /* styling about page   */
#about-us{
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 50px;
    cursor: pointer;
    background-color: rgba(192, 181, 181, 0.534);
}
 /* styling about page   */
.about-pg{
    margin-top: 8%;
    border: 2px solid white;
    border-radius: 10px;
}
 /* styling exit btn   */
#exit{
    border: 2px solid black;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgba(185, 175, 175, 0.582);
    cursor: pointer;
}

/* Media Queries for Responsiveness */
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .main-background {
        width: 100%;
        height: 100%;
    }
    #login-page{
        width: 90%;
        margin-left: 2%;
        margin-top: 40%;
    }
    #login-page p{
        font-size: 1rem;
    }
    .required{
        width: 80%;
    }
    #login{
        margin-left: 30%;
        height: 10%;
        width: 30%;
        margin-bottom: 5%;
    }
    h1{
        font-size: 1.75rem;
    }
    .logo-main{
        width: 50%;
        margin-left: 15%;
    }
    #about-us{
        width: 20%;
        margin-left: 10%;
    }
    #instructions{
        margin-top: 50%;
        width: 95%;
    }
    .game-body{
        height: 100vh;
        width: 100vw;
    }
    .playbutton{
        margin-top: 20%;
    }
    #Whacksentences{
        font-size: 1.25rem;
    }
    .end-background{
        height: 100vh;
    }
    .playagain-button{
        width: 45%;
        margin-top: 30%;
    }
    #show-score{
        margin-left: 5%;
    }
    .about-pg{
        width: 90%;
        margin-top: 40%;
    }
    #exit{
        margin-top: 20%;
    }
    .game-body{
        height: 100vh;
    }
}


